<h2>Create a new drone</h2>
 

<form action="/drones/create" method="POST"> <!--in action we write the path that the req is gonna look for -->
   <div class="mb-3">
        <label class="form-label" for="name"> Name</label>
        <input class="form-control" type="text" name="name">
   </div>
    

    <div class="mb-3">
        <label class="form-label" for=""> Propellers</label>
        <input class="form-control" type="text" name="propellers">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="">Max. Speed</label>
         <input class="form-control" type="text" name="maxSpeed">
    </div>

 

    <br>

    <button class="btn btn-outline-success" type="submit">Add your drone</button>
</form>

