<h2>Update the drone</h2>

<form action="/drones/{{data._id}}/edit" method="POST">

    <div class="mb-3">
      <label class="form-label" for="name"> Name</label>
      <input class="form-control" type="text" name="name" value="{{data.name}}">
    </div>
   
    
    <div class="mb-3">
        <label class="form-label" for=""> Propellers</label>
        <input class="form-control" type="text" name="propellers" value="{{data.propellers}}">
    </div>

    <div class="mb-3"> 

        <label class="form-label"for="">Max. Speed</label>
        <input class="form-control" type="text" name="maxSpeed" value="{{data.maxSpeed}}">
    </div>

    <button class="btn btn-outline-info" type="submit">Submit Changes</button>
</form>